<h1> Research Goal: <%= @research_goal.name %> </h1>

<p> <%= link_to 'See all resources', research_goal_resources_path(@research_goal) %> </p>
<p> <%= link_to 'Add new resource', new_research_goal_resource_path(@research_goal) %> </p>