<% if object.errors.any? %>

  <section id="error_explanation">
    <h2>Errors</h2>
    <h3>
      <%= pluralize(object.errors.count, "error") %>
      prohibited from saving for the following reasons:
    </h3>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </section>
<% end %>