<% if @research_goal %>
  <h1>Resources for <%= @research_goal.name%> </h1>
  <%= link_to 'Add resource for this goal', new_research_goal_resource_path(@research_goal)%><br><br>
<% else %>
  <h1>Resources</h1>
<% end %>


<% @resources.all.each do |resource| %>
  <li><%= link_to resource.title, resource_path(resource) %> -- <%= resource.key_topics %></li>
<% end %>