<h1><%= @resource.title %></h1>
<%= link_to 'Edit this resource', edit_resource_path(@resource) %> |
<%= link_to 'Delete this resource',  resource_path(@resource), data: { method: :delete } %><br><br>

<%= render 'display'%>
